/.angular/cache
artifacts
.DS_Store
Thumbs.db
.idea
.vscode
.awcache
*.env
*.log
*.sublime-project
*.sublime-workspace
*.pot
npm-debug.*
lerna-debug.*
yarn.lock
dist/

coverage/
node_modules/
bower_components/
.awcache/
